{% extends 'base.html.twig' %}

{% block title %}Carte index
{% endblock %}

{% block body %}
	<h2>liste des cartes:</h2>
	<a href="{{ path('carte_new') }}">Creer une nouvelle carte</a>
	<hr>
	
	<div  style="margin-left:10%; margin-right:10%; display:flex; flex-direction:row;">
		{% for carte in cartes %}
			<div>
				<div>
					carte n°{{ carte.id }}</div>
				<div>
					<image src="{{ asset('uploads/' ~ carte.filename)|imagine_filter('square') }}">
				</div>
				<div>{{ carte.titre }}
					<br>
					<a href="{{ path('carte_show', {'id': carte.id}) }}">
						Detail</a>
				</div>


			</div>
            <div style="margin-left:10%;margin-top:3%;">{{ carte.resume }}</div>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
	</div>
	


{% endblock %}
